doctype html
html
    head
        title maderwin
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        block style
            link(rel="stylesheet", href="/assets/css/style.css")
    body
        block content
        block script
            script(src="/assets/js/app.js")